* {
  margin: 0;
  padding: 0;
}
.box {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.contain {
  flex: 1;
  overflow: scroll;
}

.contain p{
  height: 50px;
}

.nav-bar {
  height: 55px;
  display: flex;
  flex-direction: row;  
  align-items: center;
  border-top: 1px solid red;
  box-sizing: border-box;
}

.nav-bar span {
  flex: 1;
  justify-self: center;
  text-align: center;
}
